{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Plainsboro 221</title>

    <!-- Favicon -->
    <link rel="shortcut icon" href="{% static 'img/favicon.ico' %}">

    <!-- CSS -->
    <link rel="stylesheet" href="{% static 'css/main.css' %}">

</head>
<body>
    <h1>Plainsboro 221</h1>
    <form action="." method="post">
        {% csrf_token %}
        <p>
            <label for={{ form.specialization.id_for_label }}>
                {{ form.specialization.label }}
            </label>
            {{ form.specialization.errors }}
            {{ form.specialization }}
        </p>
        <p>
            <label for={{ form.city.id_for_label }}>
                {{ form.city.label }}
            </label>
            {{ form.city.errors }}
            {{ form.city }}
        </p>
        <input type="submit" value="Buscar"/>
    </form>
    <a href="/doctor_subscribe/">Cadastre seu consultório</a>

    {% if messages %}
        {% for message in messages %}
            <p>{{ message }}</p>
        {% endfor %}
    {% endif %}

    <h2>Médicos na sua região</h2>
    <ul>
    {% for doctor in doctors %}
        <li>
            <p>
                <a href="{{ doctor.get_absolute_url }}">
                    <b>{{ doctor.name }}</b>
                </a><br>
                {{ doctor.specialization }}
                {{ doctor.address }} <br>
                {{ doctor.city }}
                {{ doctor.phone }} <br>
                {{ doctor.email }} <br>
            </p>
        </li>
        {% empty %}
        <p>Não existem médicos disponíveis na sua região.</p>
    {% endfor %}
    </ul>
</body>
</html>