{% extends 'base.html' %}

{% block title %}Editar perfil{% endblock title %}

{% block content %}
    <h1>Editar perfil</h1>

    <form>
        <p>
            <label for="id_for_name">Name</label>
            <input type="text" name="id_for_name"/>
        </p>
        <p>
            <label for="id_for_address">Endereço</label>
            <input type="text" name="id_for_address"/>
        </p>
        <p>
            <label for="id_for_neighborhood">Bairro</label>
            <input type="text" name="id_for_neighborhood"/>
        </p>
        <p>
            <label for="id_for_city">Cidade</label>
            <input type="text" name="id_for_city"/>
        </p>
        <p>
            <label for="id_for_phone">Telefone</label>
            <input type="text" name="id_for_phone"/>
        </p>
        <p>
            <label for="id_for_email">Email</label>
            <input type="email" name="id_for_email"/>
        </p>
        <p>
            <label for="id_for_specialization">Especialização</label>
            <input type="text" name="id_for_specialization"/>
        </p>
        <input type="submit" value="Salvar">
    </form>

{% endblock content %}